<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Estadisticas de la pagina</h1>
          <p>Vista de la pagina del administrador registrado</p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-dashboard page-wrapper">

  <div class="content-section implementation">
    <div class="card flex justify-content-center">


    </div>
  </div>


</section>
