
      <div class="card" [align]="0">
      <h5>Numero de prendas por categoria</h5>
      <p-chart type="doughnut" [data]="basicData" [options]="chartOptions" [style]="{'width': '80%'}"></p-chart>
      </div>
      <div class="card">
        <h5>Monto de ventas por mes</h5>
        <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
      </div>
      <div class="card">
        <h5>Prendas vendidas por mes</h5>
      <p-chart type="bar" [data]="multidata" [options]="chartOptions"></p-chart>
      </div>
      <div class="card">
        <h5>Prendas en Stock / Sin stock</h5>
        <p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'width': '80%'}"></p-chart>
      </div>






