<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Dashboard</h1>
          <p>Vista de la pagina del consumidor registrado</p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/order">Ordenes</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link " routerLink="/address">Direccion</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/profile-details">Cuenta</a>
        </div>
      </div>
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">

        <p *ngIf="isAuthenticated && userFullName">Hello {{ userFullName }} (not {{ userFullName }}? <a (click)="logout()">Log out</a>)</p>
        Aca podra ver <a href="/order"> sus ordenes recientes <!--</a>, editar <a href="/address">shipping and billing addresses</a> and

        <a href="#">edit your password and account details</a>.-->
          </a>
      </div>
    </div>
  </div>
</section>
<div class="card">
  <h5>Vertical</h5>
  <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>

<div class="card">
  <h5>Horizontal</h5>
  <p-chart type="bar" [data]="basicData" [options]="horizontalOptions"></p-chart>
</div>

<div class="card">
  <h5>Multi Axis</h5>
  <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
</div>

<div class="card">
  <h5>Stacked</h5>
  <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
</div>
