

<div class="product" *ngFor="let tempProduct of products">
    <div class="product-wrap">
      <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg" alt="product-img" /></a>
      <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
    </div>
  

    <!-- if products empty then display a message-->
    <div *ngIf="products?.length == 0" >
      <span class="onsale">Sold</span>
    </div>
    <span class="Sold">Sold</span>
    
    <div class="product-hover-overlay">
      <a href="#"><i class="tf-ion-android-cart"></i></a>
      <a href="#"><i class="tf-ion-ios-heart"></i></a>
        </div>
    <div class="product-info">
      <h2 class="product-title h5 mb-0"><a routerLink="/product-single">{{ tempProduct.name}}</a></h2>
      <span class="price">
        {{ tempProduct.unitPrice | currency:'USD'}}
      </span>
    </div>
  </div>


