<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">


                    <div class="product">
                        <div class="product-wrap">
                            <a routerLink="/products/{{ tempProduct.id }}"><img class="img-fluid w-100 mb-3 img-first" src="{{ tempProduct.imageUrl }}" alt="product-img" /></a>
                            <a routerLink="/products/{{ tempProduct.id }}"><img class="img-fluid w-100 mb-3 img-second" src="{{ tempProduct.imageUrl }}" alt="product-img" /></a>
                        </div>

                         <!-- if products empty then display a message-->
                        <div *ngIf="tempProduct?.active == false" >
                            <span class="onsale">Sold</span>
                        </div>
                        <span class="onsale">Sale</span>
                        <div class="product-hover-overlay">
                            <a href="#"><i class="tf-ion-android-cart"></i></a>
                            <a href="#"><i class="tf-ion-ios-heart"></i></a>
                          </div>

                        <div class="product-info">
                            <h2 class="product-title h5 mb-0"><a routerLink="/products/{{ tempProduct.id }}">{{ tempProduct.name }}</a></h2>
                            <span class="price">
                                {{ tempProduct.unitPrice | currency:'USD' }}
                            </span>
                        </div>
                    </div>
                    <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>

                </div>

                <!-- if products empty then display a message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

            </div>

            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">

                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="500"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">

                                </ngb-pagination>

                            </div>

                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Tamanio pagina</span>

                                <select (change)="updatePageSize($event.target.value)">
                                    <option>16</option>
                                    <option selected="true">24</option>
                                    <option>32</option>
                                    <option>40</option>
                                    <option>500</option>
                                </select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- end footer -->

        </div>
    </div>
</div>






